/* image sizeing */
.img{
    height: 590px;
    object-fit: cover;
}
/* right bg color */
.fild {
    background: #d3cacaa1;
}
.input{
    background: #DCDCDC;
    border: 1px solid #6d6d6d;
    border-radius: 2px;
}
/* input fild align */
.rent{    
    margin-left: 21px;
}
.food{
    margin-left: 17px;
}